.margin{
 
    display: block;
    margin:auto;
    width: 1200px;
    margin-top: 70px;
    margin-bottom:70px;
    border-radius: 3px;

    color: rgb(13, 13, 14);
    /* background-color: rgb(56, 59, 61); */
    /* border: 1px solid rgba(0, 0, 0, 0.411) */
    box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #a89ca2, 0 0 10px #9177ee,
    0 0 5px #888084, 0 0 5px #f3cbdf, 0 0 5px #949192;   
}


.title{
    font-style: italic;
 
    margin-bottom: 0;
    padding: 20px;
}
.title:hover {
    transform: scale(1.2);
}
  
    .dogImage{

    border-radius: 5px;
    border: 12px solid #282828;
  
  }

  .text{
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    padding: 10px;
  }
.contenedor{
  display: flex;
    justify-content: center;
    align-items: center;}

 .tamaño{ 
     display: flex;
  flex-flow: row;
  align-items: center;
justify-content: center;
}

.peso{ 
 
    display: flex;
 flex-flow: row;
 align-items: center;
justify-content: center;
}

.vida{ 
    display: flex;
 flex-flow: row;
 align-items: center;
justify-content: center;
}

.p{
margin-block-start: unset;
margin-block-end: unset;
}

.col{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
   justify-content: center;
}

.boton{
   display: flex;
    width: 130px;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    color: #0f0f0f;
    background-color: rgba(179, 38, 192, 0.548);
    border-radius: 30px;
    border: 2px solid #290391;
    cursor: pointer;
  }
  
  .boton:hover{
    color: #c92424bb;
    background-color: #b65970;
    }
 
 .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

.deta{
  margin-top:122px
}