
.fondo{
 
    /* position: fixed; */
    background: url('https://gestion.portalbiesa.com/redaccio/arxius/imatges/201902/770_1550480986blog_post_consejo_perro_adoptado_1.jpg') no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 60vh;
    object-fit: cover;
    max-width: 100%;
 
} 

.parrafo{
    color: rgb(12, 12, 12);
    font-size:23px;
    margin-top: 380px
}