
.fondo{
 
    /* position: fixed; */
    background: url('https://gestion.portalbiesa.com/redaccio/arxius/imatges/201902/770_1550480986blog_post_consejo_perro_adoptado_1.jpg') no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 60vh;
    object-fit: cover;
    max-width: 100%;
 
} 

.parrafo{
    color: rgb(12, 12, 12);
    font-size:23px;
    margin-top: 380px
}

.h1{
    display: flex;
    color:white;
    /* background: linear-gradient(90deg, rgb(5, 5, 5), #fff, rgb(241, 241, 241)); */


}
@keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }